.profile-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 10rem;
    width: 8rem;
    background-color: #FFF;
    color: #004785;
    border-radius: 1rem;
}

/*.BGIS-logo{
    background-image: url('/src/assets/imgs/BGIS_Logo.svg')
}

.profile {
    background-image: url('./src/assets/imgs/profile.svg'); 
}*/