

.media-col{
    min-height: 70px;
}
.thumb-wrapper{
width: 40%;
max-height: 100px;
}



.previous-value{
    text-decoration: line-through;
    font-style: italic;
    color: #0079C1;
}

.dirty-data{
    display: grid;
}