<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="transparent">
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="transparent" class="sub-header">
    <h2>RealCondition</h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color="transparent">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Search</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
