<ion-header [translucent]="false" >
  <ion-toolbar color="primary">
    <app-header isFrom="step1"></app-header>
  </ion-toolbar>
</ion-header>

<app-sub-header [subHeader]="subHeader" (navStep)="navBackToJump($event)"></app-sub-header>
<p class="stepper-instruction">Please specify the equipment and its identifier details.</p>

<ion-content>

  <ion-grid class="grid-top" id="vBit" (click)="closeDropdown()">
    <ion-label class="label-section">Equipment</ion-label>
    <ion-card>
    <ng-container *ngIf="step2Val.IsDFM=='N' && subs.Mode == 'ADD'">
     
      <ion-row>
        <ion-col>
          <input-con [name]="'inputUniformat'" [title]="'Building Item Type'" [hasIcon]="true"
           (iconclick)="getInputConUniformatValue($event)" [valuecon]="step2Val.UniformatSearchValue" [isValid]="step2Val.isUfmInputValid" [errorMessage]="'Please enter a valid value.'"
            (conclick)="hideUfmSearchs()"
            [infoTip]="'Is intended to describe the categorization of the Building Item.'">
          </input-con>
          <div *ngIf="step2Val.showUniformatSearchList" class="dropdown-content">
            <div *ngIf="showNoResultUniformat" style="color:#00467f" (click)="resetUniformatInput()">No results found </div>
            <ng-container *ngFor="let u of ListUniformatsFiltered; let i=index">
                <div class="dropdown-item">
                  <div class="dropdown-inner" innerHTML="{{ u.Code + ' - ' + u.UDescription | highlighSearch : step2Val.UniformatSearchValue}}" 
                  (mousedown)="selectUniformatItem(i)" > </div>
                </div>
              </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input-con [name]="'inputSystemType'" [title]="'System Type'" [hasIcon]="true" [valuecon]="step2Val.SystemTypeValue"
          (iconclick)="getInputSystemTypeValue($event)" [isValid]="step2Val.isSystemTypeValid" [errorMessage]="'Please enter a valid value.'" (conclick)="hidSystemTypeSearchs()"
          [infoTip]="'The Building Item Sub Category is a child of the Building Item Category.  It is used to further categorize a Building Item.'"></input-con>
          <div *ngIf="step2Val.showSystemTypeSearchList" class="dropdown-content">
            <div *ngIf="showNoResultSystemType" style="color:#00467f" (click)="resetSystemInput()">No results found </div>
            <ng-container *ngFor="let u of ListSystemTypeFiltered; let i=index">
              <div class="dropdown-item">
                <div class="dropdown-inner" innerHTML="{{ u.Value  | highlighSearch : step2Val.SystemTypeValue}}" 
                (mousedown)="selectSystemTypeItem(i)" > </div>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="step2Val.IsDFM=='Y' && subs.Mode == 'ADD'">
      <ion-row>
        <ion-col>
          <input-con [name]="'inputUniformat'" [title]="'Uniformat*'" [hasIcon]="true"
          (iconclick)="getInputConUniformatValue($event)" [valuecon]="step2Val.UniformatSearchValue" [isValid]="step2Val.isUfmInputValid" [errorMessage]="'Please enter a valid value.'"
            (conclick)="hideUfmSearchs()"
            [infoTip]="'Is intended to describe the categorization of the Building Item.'">
          </input-con>
          <div *ngIf="step2Val.showUniformatSearchList" class="dropdown-content">
            <div *ngIf="showNoResultUniformat" style="color:#00467f" (click)="resetUniformatInput()">No results found </div>
            <ng-container *ngFor="let u of ListUniformatsFiltered; let i=index">
              <div class="dropdown-item">
                <div class="dropdown-inner" innerHTML="{{ u.Code + ' - ' + u.UDescription | highlighSearch : step2Val.UniformatSearchValue}}" 
                (mousedown)="selectUniformatItem(i)" > </div>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="step2Val.IsDFM=='N' && subs.Mode == 'EDIT'">
      <ion-row >
        <ion-col>
          <div class="info-wrapper">
            <div class="info-item">
              <div class="info-key" style="padding-left: 0px;font-size: 1.1rem;">
                Building Item Type: 
              </div>
              <div class="info-value">
                {{step2Val.UniformatSearchValue}}
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row >
      <ion-row >
        <ion-col>
          <div class="info-wrapper">
            <div class="info-item">
              <div class="info-key" style="padding-left: 0px;font-size: 1.1rem;">
                System Type: 
              </div>
              <div class="info-value">
                {{step2Val.SystemTypeValue}}
              </div>
            </div>
          </div>
      </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="step2Val.IsDFM=='Y' && subs.Mode == 'EDIT'">
      <ion-row >
        <ion-col>
          <div class="info-wrapper">
            <div class="info-item">
              <div class="info-key" style="padding-left: 0px;font-size: 1.1rem;">
                Uniformat<span class="mandatory">*</span>:
              </div>
              <div class="info-value">
                {{step2Val.UniformatSearchValue}}
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col>
        <input-con [name]="'inputDesc'" [title]="'Description'" [hasIcon]="false"  [valuecon]="step2Val.DescriptionValue" [maxLen]="50"
        (iconclick)="getInputDescConValue($event,'e')" [isValid]="step2Val.isDescValid" [errorMessage]="'Please enter a valid value.'"
        [infoTip]="'Equipment Description.'"
        ></input-con>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <input-con [name]="'inputDescFn'" [title]="'French Description'" [hasIcon]="false" [valuecon]="step2Val.DescriptionFrValue" [hasplaceholder]="false" [maxLen]="50"
        (iconclick)="getInputDescConValue($event, 'f')"></input-con>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <input-con [name]="'inputParentItem'" [title]="'Parent Item'" [hasIcon]="true" [valuecon]="step2Val.ParentItemSearchValue" 
        (iconclick)="getPIInputConValue($event)" (conclick)="hidePISearchs()">
        </input-con>
        <div *ngIf="step2Val.showParentItemSearchList" class="dropdown-content">
          <div *ngIf="showNoResultParent" style="color:#00467f" (click)="resetParentItemInput()">No results found </div>
           <ng-container *ngFor="let u of listParentItemsFiltered; let i=index">
            <div class="dropdown-item">
              <div class="dropdown-inner" innerHTML="{{ u.Value | highlighSearch : step2Val.ParentItemSearchValue}}" 
              (mousedown)="selectPIItem(i)" > </div>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    
    
    <ion-row id="vBit3">
      <ion-col class="field-row">
          <div class="input-field">
          <div class="form-input">
            <ion-label class="has-tip">
              Field Item Number:
              <!-- <i class="test-icon icon-info-1 label-info" (click)="showTipFieldItem()"></i>
              <div *ngIf="showFieldItemTip && subs.publicTipShow" class="tooltip-wrapper" (click)="showFieldItemTip = false">Barcode can be scaned from the label on equipment.<i class="test-icon icon-down-dir arrow-pos"></i></div> -->
            </ion-label>
            <div class="input-wrapper">
              <input required [(ngModel)]="step2Val.FieldItemNumber" fieldItemNumberMask [ngClass]="{'warning-bottom':!step2Val.isFieldItemNumberValid}">
            </div>
          </div>
        </div>

        <div class="input-icon camera" (click)="scanBarCode()">
          <!--ion-icon class="circle test-icon icon-camera-1"></ion-icon-->
        </div>  
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="field-row">
          <ion-text *ngIf="!step2Val.isFieldItemNumberValid" color="danger"><i class="test-icon icon-warning-round"></i>Please input 9 digital number.</ion-text>
      </ion-col>
    </ion-row>
    
    
    

  
    <div>
      <ion-row>
        <ion-col>
          <input-con [name]="'inputManufacturer'" [title]="'Manufacturer'" [hasIcon]="false" 
          [valuecon]="step2Val.Manufacturer"
          [maxLen]="30" (iconclick)="onChangeManufactureEvent($event, 'm1')"></input-con>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input-con [name]="'inputModelNumber'" [title]="'Model Number'" [hasIcon]="false" [hasplaceholder]="false" [maxLen]="50"
          [valuecon]="step2Val.ModelNumber" 
           (iconclick)="onChangeModuleNumberEvent($event)"></input-con>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input-con [name]="'inputSocialNumber'" [title]="'Serial Number'" [hasIcon]="false" 
          [valuecon]="step2Val.SerialNumber"
          [maxLen]="30" (iconclick)="onChangeManufactureEvent($event,'m3')"></input-con>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <input-con [name]="'inputModelName'" [title]="'Model Name'" [hasIcon]="false" 
          [valuecon]="step2Val.ModelName"
          [maxLen]="50" (iconclick)="onChangeManufactureEvent($event,'m2')"></input-con>
        </ion-col>
      </ion-row>
      
  
      <ion-row>
        <ion-col>
          <div class="form-input">
            <ion-label id="esi">Manufacturer Date:</ion-label>
            <div class="input-wrapper">
              <input required> 
              <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="step2Val.ManufacturerDate"></ion-datetime> 
              <button aria-label="search" class="input-icon-button clk-thru-icon">
                <i class="infield test-icon icon-calendar"></i>
              </button>
            </div>
          </div>
        </ion-col>
      </ion-row>
     
    </div>
  </ion-card>

  


  <ion-card *ngIf="step2Val.showUDFSearchList">
    <ion-label class="label-section">Equipment Specific Information</ion-label>
    <ng-container *ngFor="let udf of step2Val.UniformatSelected.UDescList; let i=index">
      
        <ion-row *ngIf=" udf.ControlType == 3">
        <ion-col>
          <input-con [name]="'inputUDFOptions'" [title]="udf.Description" [hasIcon]="true" [hasplaceholder]="false" [isManadtory]="udf.IsRequired" (conclick)="hideUDFListSearchs(i)" 
          [valuecon]="udf.UDFOptionSearchValue"  (iconclick)="getInputConUDFListOptionValue($event,i)" [isValid]="udf.isSearchValueValid" [errorMessage]="'Please enter a valid value.'">
          </input-con>
          
          <div *ngIf="udf.showOptions " class="dropdown-content" >
            <div *ngIf="udf.showNoResult" style="color:#00467f" (click)="resetUDFListOptionInput(i)">No results found </div>
            <ng-container *ngFor="let u of udf.FilterOptions; let j=index">
                <div class="dropdown-item">
                  <div class="dropdown-inner" innerHTML="{{ u.Value | highlighSearch : udf.UDFOptionSearchValue}}" 
                  (mousedown)="selectUDFListOptionItem(i,j)"> </div>
                </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      

      <ion-row *ngIf="udf.ControlType == 1 || (udf.ControlType == 0 && udf.Description.indexOf('YYYYMMDD')<0)">
        <ion-col>
          <input-con [name]="'inputUDFOptions'" [title]="udf.Description" [hasIcon]="false" [hasplaceholder]="false"  [isManadtory]="udf.IsRequired"
          [maxLen]="udf.Length"
          [valuecon]="udf.UDFOptionSearchValue"  
          (iconclick)="getInputConUDFListOptionValue($event,i)" 
          [isValid]="udf.isSearchValueValid" 
          [errorMessage]="udf.ErrorDescription">
          </input-con>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(udf.ControlType == 0 && udf.Description.indexOf('YYYYMMDD')>=0)">
        <ion-col>
          <!-- <div class="input-wrapper">
            <input required [(ngModel)]="udf.UDFOptionSearchValue" fieldUDFDateMask >
          </div> -->
          <div class="input-field">
            <div class="form-input">
              <ion-label >{{udf.Description}}<span *ngIf="udf.IsRequired" class="mandatory">*</span>:</ion-label>
              <div class="input-wrapper">
                <input required [(ngModel)]="udf.UDFOptionSearchValue" fieldUDFDateMask >
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <!-- <ion-row *ngIf="(udf.ControlType == 0 && udf.Description.indexOf('YYYYMMDD')>=0)">
        <ion-col class="field-row">
            <div class="input-field">
            <div class="form-input">
              <ion-label >{{udf.Description + ':'}}</ion-label>
              <div class="input-wrapper">
                <input required [(ngModel)]="udf.UDFOptionSearchValue" fieldUDFDateMask >
              </div>
            </div>
         
      </ion-row> -->
      
    </ng-container>
  </ion-card>

  </ion-grid> 
  <ion-row>
    <ion-col *ngIf="!subs.isJumpStep">
      <div class="botton-container">
        <ion-button color="tertiary" (click)="navigateToStep1Client()">Back</ion-button>
        <ion-button color="primary" (click)="navigateToStep3Description()">Next</ion-button>
      </div>
    </ion-col>
    <ion-col *ngIf="subs.isJumpStep">
      <div class="botton-container">
        <ion-button color="tertiary" (click)="navigateJumpStep5(false)">Discard Changes</ion-button>
        <ion-button color="primary" (click)="navigateJumpStep5(true)">Save Changes</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
